{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block head %}

<a href="https://icons8.com/icon/119289/happy">Happy icon by Icons8</a>
{% endblock %}
{% block body %}
<div class="container" style="text-align: center; max-width:3000px; background-image: linear-gradient(to right, rgb(160, 149, 149) , rgb(80, 80, 74));">
<h1 class="display-3" style="text-align: center;">About Us</h1>
<p style=" font-size: 180%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> We Believe our 4 customer promises set us apart from the rest.<br>
  Have a read below:
</p>
</div>
 
    <!-- Example row of columns -->
    <div class="row" >
     
      <div class="col-md-3" >
        
        <h2> Happy,You'll know it</h2>
        <img src="https://img.icons8.com/ios-filled/50/000000/comedy.png"/>
        <p>From our online team to our delievery,we'll nake sure our people enjoy what they do.
          This means they can give you the friendliness,enthusim and can do attitute you've every night to expect. </p>
      </div>
      <div class="col-md-3">
        <h2>Easy -Peasy Pricing</h2>
        <img src="https://img.icons8.com/ios-filled/50/000000/money-bag.png"/>
        <p>We keep our pricing straightoward and our reviews straight talking.
          plus, we gurantee to either price or product match any appliance you see cheaper or can't find in our range.
        </p>
      </div>
      <div class="col-md-3">
        <h2>Upfront,no cover-ups</h2>
        <img src="https://img.icons8.com/wired/64/000000/best-seller.png"/>
        <p>Honesty's always our policy,so we'll give you clear commitment and genuine offers.
          any term and condition will be in large print,not in small print,no hidden catches.
        </p>
      </div>
      <div class="col-md-3">
        <h2>Famously Flexible</h2>
        <img src="https://img.icons8.com/cotton/64/000000/time-1.png"/>
        <p>Everyone's different and that's why we'll do everything we can to work around you.
          from delievery 7 days of the week,14-days-no-fuss return and even 4-hour delievry slots for pinpoint puntuality.
        </p>
      </div>
    </div>
<hr>
<h2 style="text-align: center;"> LAUNCHED IN OCTOBER 2007</h2>
<p style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 160%;"> Shop is India's leading e-commerce marketplace with over 80 million products across 80+ categories.</p>
  </div> <!-- /container -->
  <div class="row" >
     
    <div class="col-md-3" >
      <img src="https://img.icons8.com/nolan/64/train.png"/>
      <h3>Free Shipping</h3>
    </div>
    
    <div class="col-md-3" >
      <img src="https://img.icons8.com/cotton/64/000000/home--v1.png"/>
      <h3>  Offline Store</h3>
    </div>
    
    <div class="col-md-3" >
      <img src="https://img.icons8.com/nolan/64/chat.png"/>
      <h3>Quick Response</h3>
    </div>
    
    <div class="col-md-3" >
      <img src="https://img.icons8.com/pastel-glyph/64/000000/get-a-discount.png"/>
      <h3>Discount System</h3>
    </div>
  
  </div>

{% endblock %}